@model IEnumerable<TienThinhCandy.Models.DB.Order>
<table class="table">
    <thead>
        <tr>
            <th>Mã đơn hàng</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
            <th>Số tiền</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr id="tr_@item.Id">
                    <td>@item.Code</td>
                    <td>@item.Address</td>
                    <td>
                        @if (item.Status == 4)
                        {
                            <p>Đã huỷ</p>
                        }
                        else if (item.Status == 2)
                        {
                            <p> Đã vận chuyển </p>
                        }
                        else if (item.Status == 3)
                        {
                            <p>Đã hoàn thành </p>
                        }
                        else
                        {
                            <p> Chờ vận chuyển </p> 
                        }
                    </td>
                    <td>@TienThinhCandy.Common.Common.FormatNumber(item.TotalAmount, 0)</td>
                    <td><a href="/chi-tiet/o@(item.Id)">Chi tiết</a></td>
                </tr>

            }
        }
        else
        {
            <tr>
                <th>Không có đơn hàng</th>
            </tr>

        }
    </tbody>
</table>



