@{
    ViewBag.Title = "About";

}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<link href="~/Content/assets/styles/contact_styles.css" rel="stylesheet" />
<link href="~/Content/assets/styles/contact_responsive.css" rel="stylesheet" />
<main>
    <div class="container contact_container">
        <div class="row">
            <div class="col">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="/home/index">Home</a></li>
                        <li class="active"><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i>Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <!-- Map Container -->

        <div class="row">
            <div class="col">
                <div id="google_map">
                    <div class="map_container">
                        <div id="map">
                            <div class="container">
                                <div class="wrap-heading text-center">
                                    <p class="line">VỀ CHÚNG TÔI</p><h2>Tiến Thịnh - Một thoáng kinh kỳ</h2>
                                </div>
                                <div class="wrap-content">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-5 col-md-6 col-12">
                                            <div class="wrap-info">
                                                Chúng tôi tin rằng, hơi ấm của gia đình luôn là chiếc nôi yên bình mà bền vững nhất để nuôi lớn mọi giá trị. Hiệu bánh nhà chúng tôi đã được hình thành như thế - trong lòng một gia đình Việt.<br><br>
                                                Ấp ủ niềm yêu với những thức quà của đất trời, Cha đã đặt biết bao tâm huyết vào từng viên ô mai, từng gói bánh, hộp kẹo để từ đó níu giữ mãi những nét đẹp truyền thống của dân tộc. Qua những sản phẩm của mình, chúng tôi muốn gửi gắm câu chuyện của cả một thời đại, của cả một hồn cốt Việt.
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-12">
                                            <div class="wrap-info">
                                                Ô mai Tiến Thịnh muốn làm sống lại những kí ức đã dần nhẹ trôi của quá khứ về những chiều theo chân mẹ đi chợ, về những đêm nghe ông kể chuyện dưới trăng rằm, về những tối ấm êm, đoàn tụ bên gia đình của năm đó.<br><br>
                                                Nhâm nhi những viên ô mai ngọt lịm, thả mình vào dòng hồi ức đẹp đẽ, yên ả của tuổi thơ và thời niên thiếu, hãy để Quà Xưa Quế Hương trở thành điểm dừng chân cảm xúc bình yên của bạn trong hành trình tấp nập vội vã.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact Us -->

        <div class="row">
            <div class="col-lg-6 contact_col">               
                <img style="height:100%; width:100%" src="~/Content/assets/images/463611078_7867674316667351_5261656680820216211_n.jpg" />                               
            </div>
            <div class="col-lg-6 contact_col">                
                    <p class="line">THÔNG ĐIỆP TỪ CHÚNG TÔI</p><h2>Câu chuyện thương hiệu</h2>                               
                    <p>
                        Ngày ấy, những năm 1937, cứ xuống tàu điện tại Bờ Hồ, bước chân vào khu phố cổ sầm uất, chẳng ai là không biết tiếng Ô mai Tiến Thịnh tại số 21 Hàng Đường, Hà Nội.<br><br>
                        Cái đặc điểm không thể lẫn vào đâu được là những lọ ô mai thuỷ tinh được bày biện đẹp mặt trên bề mặt các tủ đựng bánh. Thời bấy giờ, bánh bích quy được đặt trong hộp sắt là “Tây” lắm và Tiến Thịnh là một trong những tiệm bánh đầu tiên bày bán cái thứ hộp Tây thế. Ô mai, bánh bích quy, bánh trung thu,… cái nào cái ấy đều tinh xảo, cầu kỳ y như chủ vậy.<br><br>
                        Thương hiệu Tiến Thịnh được xây dựng từ năm 1937 với đầy đủ các “thức quà” xưa thời bấy giờ như ô mai, bánh chả, bánh bích quy, bánh trung thu. Mang trong mình một triết lý kinh doanh khác biệt &amp; tân tiến, Tiến Thịnh dần trở thành hiệu bánh nổi tiếng thời bấy giờ, người mua nườm nượp từ sáng tới tối.<br><br>                        
                    </p>
                </div>
                @*<div class="contact_contents">
                    <div class="wrapflex-introduce">

                        <div class="intro-right">
                            <div class="intro-desc">
                                <div class="wrap-heading text-center">
                                    <p class="line">THÔNG ĐIỆP TỪ CHÚNG TÔI</p><h2>Nét thanh lịch - Vị quà xưa</h2>
                                </div>
                                <div class="wrap-content">
                                    <p>
                                        “𝐶ℎ𝑎̆̉𝑛𝑔 𝑡ℎ𝑜̛𝑚 𝑐𝑢̃𝑛𝑔 𝑡ℎ𝑒̂̉ ℎ𝑜𝑎 𝑛ℎ𝑎̀𝑖<br>
                                        𝐷𝑎̂̃𝑢 𝑘ℎ𝑜̂𝑛𝑔 𝑡ℎ𝑎𝑛ℎ 𝑙𝑖̣𝑐ℎ 𝑐𝑢̃𝑛𝑔 𝑛𝑔𝑢̛𝑜̛̀𝑖 𝑇𝑟𝑎̀𝑛𝑔 𝐴𝑛”<br><br>
                                        “Thanh” là trong, sáng, là chỉ thứ màu đẹp đẽ có ánh xanh của ngọc. “Lịch” nằm trong “lịch thiệp, lịch sự, lịch lãm, lịch sử”. <br>Tất thảy những phẩm chất của sự trong sáng về đạo đức, thanh tao của tâm hồn và cái lấp lánh của trí tuệ đã làm nên hai chữ “thanh lịch” nơi người Hà Nội trong từng lời ăn, tiếng nói, thị hiếu ẩm thực…đặc biệt, là lối ứng xử trong sáng, tế nhị, duyên dáng nhưng lại có trí tuệ, hiểu biết, và từng trải.
                                        <br><br>Chúng tôi là những người luôn mong mỏi được lưu trữ những nét đẹp vô ngần ấy của dân tộc mình và hơn hết là theo đuổi sứ mệnh một lần nữa làm rực rỡ truyền thống quý báu của gia đình, gửi gắm và nâng niu từng chút, từng giọt văn hóa trong những thức quà tinh xảo, kỳ công và đậm đà bản sắc Việt.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@


            </div>
        </div>
                        


            
            
       

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Miễn phí vận chuyển</h6>
                            <p>Miễn phí vận chuyển trên toàn Hà Nội</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Thanh toán khi nhận hàng</h6>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Thanh toán online</h6>
                            <p>Thực hiện thanh toán online tiện lợi</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Mở cửa các ngày trong tuần</h6>
                            <p>8h sáng - 9h tối</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Blogs -->

</main>